* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

#fontLogo {
    width: 186px;
    height: 36px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 23.5px;
    line-height: 35px;
    color: white;
}

#divHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 341px;
    /* width: 1280px; */
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px black;
    color: white;
}

#divLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7.30px;
    width: 213.9px;
    height: 36px;

}

#divMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 570px;
    height: 32px;
}

a {
    color: white;
    text-decoration: none;
}

#sec1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 61px;
    height: 32px;
}

#sec2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 89px;
    height: 32px;
}

#sec3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 120px;
    height: 32px;
}

#sec4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 120px;
    height: 32px;
}

#sec5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 75px;
    height: 32px;
}

#divFono {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 350px;
    height: 40px;
}

#sec6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 150px;
    height: 24px;
}

#sec7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 24px;
    height: 24px;
}

#sec8 {
    width: 120px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

#sec9 {}

login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 130px;
    height: 40px;
}